.uul {
  color: rgb(0, 174, 255);
  font-style: italic;
  font-size: 20px;
}
label {
  color: rgb(0, 0, 0);
}

.link {
  color: turquoise;
}

.header {
  color: aqua;
}

.naav {
  margin-left: 89%;
  margin-top: -10%;
  text-align: justify;
}

.rocketpics {
  max-width: 30%;
  max-height: 30%;
  padding-bottom: 2%;
  margin: 1%;
}

body {
  background-repeat: round;
  background-size: 100%;
  background-image: url("WaterOnMars.jpg");
  background-color: antiquewhite;
}

h1 {
  max-width: 80%;
  color: aqua;
}
